# Output directories
Debug
Release
Deploy

# Load direcotry for input
load

# Visual Studio files
*.sdf
*.opensdf
*.suo
ipch
*.user
*.aps

# IDEA folder
.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
